@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #10B981;    
  --primary-light: #34D399;  
  --primary-dark: #059669;   
  --secondary: #F9FAFB;
  --accent: #E5E7EB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
